body {
    font-family: "Cabin";
    background-color: #de54b0;
    margin: 0px;
}


#logo {
    background-color: #de54b0;
    text-align: left;
    margin-left: 5%;
    padding-top: 25px;
}

body > header {
    background-color: #de54b0;
    color: white;
    padding: 10px;
    display:flex;
}

h1 {
    font-size: 30px;
    text-align: center;
}

header > nav > ul {
    display:flex;
    margin-left: 70%px;
    margin-top:20px;
    margin-bottom: 20px;
}

header > nav > ul > li {
    list-style-type: none;
    padding: 20px;
    font-weight: bolder;
    font-size: 20px;
}

header > nav > ul > li > a{
    text-decoration: none;
    color:white;
    display:inline-block
}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10%;
    }

body > main > article {
    width: 80%;
    margin: auto;
}

h2 {
    text-align: center;
    font-size: 20px;
}

.container{
    width: 500px;
    height: 500px;
    background: lightyellow;
    overflow-y: auto;
    border-radius: 15%;
    margin:auto;
    padding: 20px 20px;
    text-align: center;
    font-size: medium;
    font-weight: bolder;
}

.button {
    border-radius: 30%;
    width: 100px;
    height: 100px;
    float: left;
    /* background: rgb(76, 209, 196); */  
}

.first-row-start {
    display:flex;
}

.button1 {
    margin: 30px 30px;
    border-radius: 30%;

}
.button1 img{
    width: 85px;
    height: 100px;
    float: left;
    border-radius: 30%;
    object-fit: contain;
}

.tooltip {
    position:relative;
    display:inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width:120px;
    background-color: black;
    color:#fff;
    text-align: center;
    padding:5px 0;
    border-radius: 6px;
    position:absolute;
    z-index: 1;
    top: 85%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip:hover .tooltiptext {
    visibility: visible;
  }
  
.button2{
    margin:30px 30px;
    border-radius: 30%;
}

.button2 img{
    width: 85px;
    height: 100px;
    float: left;
    border-radius: 30%;
    object-fit: contain;
}

.button3{
    margin:30px 30px;
    border-radius: 30%;
}

.button3 img{
    width: 85px;
    height: 100px;
    float: left;
    border-radius: 30%;
    object-fit: contain;
}

.second-row-start{
    display: flex;
}

.button4{
    margin:30px 30px;
    border-radius: 30%;
}

.button4 img{
    width: 85px;
    height: 100px;
    float: left;
    border-radius: 30%;
    object-fit: contain;
}

.button5{
    margin:30px 30px;
    border-radius: 30%;
}

.button5 img{
    width: 85px;
    height: 100px;
    float: left;
    border-radius: 30%;
    object-fit: contain;
}

.button6{
    margin:30px 30px;
    border-radius: 30%;
}

.button6 img{
    width: 85px;
    height: 100px;
    float: left;
    border-radius: 30%;
    object-fit: contain;
}

.third-row-start{
    display: flex;
}

.button7{
    margin:30px 30px;
    border-radius: 30%;
}

.button7 img{
    width: 85px;
    height: 100px;
    float: left;
    border-radius: 30%;
    object-fit: contain;
}

.button8{
    margin:30px 30px;
    border-radius: 30%;
}

.button8 img{
    width: 85px;
    height: 100px;
    float: left;
    border-radius: 30%;
    object-fit: contain;
}

.button9{
    margin:30px 30px;
    border-radius: 30%;
}

.button9 img{
    width: 85px;
    height: 100px;
    float: left;
    border-radius: 30%;
    object-fit: contain;
}


hr {
    font-weight: bolder;
}

form {
    text-align: center;
}

.navbutton {
color: white;
text-decoration: none;
padding: 12px;
border: 1px solid white;
border-radius: 10%;
}

hgroup {
    text-align: center;
}

hgroup > img {
    height:100px;
    width: 100px;
    border-radius: 50%;
}

#footer-container {
    text-align: center;
}

body > footer {
    background-color: #de54b0;
}


#important-files > nav > ul {
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
    padding-left: 0px;
}

#important-files > nav > ul > li > a {
    text-decoration: none;
    color: white;
    list-style-type: none;
}

